@font-face {
  font-family: Medium;
  src: url("Medium.otf") format("opentype");
}


body {
  font-family: Medium;
  color: black;
}



.btn {
  border-radius: 0px;
  padding: 20px 50px;
}



.jumbotron {
  margin-top: -20px;
  margin-bottom: 0px;
  height: 900px;
  background: url("Blue.gif") no-repeat center center;
  background-size: cover;
  width: 100%; /* make sure to define width to fill container */
  /* define the height in pixels or make sure   */
  /* you have something in your div with height */
  /* so you can see your image */
  border-radius: 0px;
  filter: contrast(75%);
}

#jumbotron2 {
  margin-top: -35px;
  margin-bottom: 0px;
  height: 800px;
  background: url("juice1.gif") no-repeat center center;
  background-size: cover;
  width: 100%; /* make sure to define width to fill container */
  /* define the height in pixels or make sure   */
  /* you have something in your div with height */
  /* so you can see your image */
  border-radius: 0px;
  filter: contrast(75%);
}

#jumbotron3 {
  margin-top: -35px;
  margin-bottom: 0px;
  height: 800px;
  background: url("cleanse.jpeg") no-repeat center center;
  background-size: cover;
  width: 100%; /* make sure to define width to fill container */
  /* define the height in pixels or make sure   */
  /* you have something in your div with height */
  /* so you can see your image */
  border-radius: 0px;
  filter: contrast(75%);
}


section .jumbotron  {
  margin-top: -35px;
  margin-bottom: 0px;
  height: 600px;
  background: url("juice2.jpeg") no-repeat center center;
  background-size: cover;
  width: 100%; /* make sure to define width to fill container */
  /* define the height in pixels or make sure   */
  /* you have something in your div with height */
  /* so you can see your image */
  border-radius: 0px;
}


.btn-danger {
  color: #59bdd5;
  background-color: transparent;
  border-color: #59bdd5;
}

.content {
  text-align: left;
  margin: 50px auto 200px 20px;
  display: block;
  width: 40%;
  color: #59bdd5;
}

.content6 {
  text-align: right;
  margin: 50px 0px 300px auto;
  display: block;
  width: 70%;
  color: #59bdd5;
}

.content7 {
  text-align: left;
  margin: 200px auto 200px 20px;
  display: block;
  width: 40%;
  color: #59bdd5;

}

.content2 {
  text-align: center;
  margin: 25px auto 50px auto;
  display: block;
}

#icontext {
  color: #59bdd5;
}


.content4 {
  text-align: left;
  margin-top: 200px;
  margin-bottom: 200px;
  display: block;
  width: 40%;
}

#thumbnailtext {
  text-align: left;
  color: #ff5e48;
}

hr {
  color: black;
}


#btn2 {
  padding: 6px;
}


#slider1 {
  background: url("coconut.png") no-repeat center center;
  height: 800px;
  background-size: cover;
}

#slider2 {
  background: url("juice1.gif") no-repeat center center;
  height: 800px;
}



/* footer */

.footer1 {
  background: #202020 url("../images/footer/footer-bg.png") repeat scroll left top;
  padding-top: 60px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;/*	border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #003;*/
  color: #63aec0;
  height: 400px;
  margin-top: 50px;
}



.title-widget {
  color: #898989;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
  background-color: #ea5644;
  content: "";
  height: 22px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 5px;
}

a {
  color: white;
}


.widget_nav_menu ul {
  list-style: outside none none;
  padding-left: 0;
}

.widget_archive ul li {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 3px;
}


.widget_nav_menu ul li {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 7px;
  padding-bottom: 7px;
  width:95%;
}



.title-median {
  color: #636363;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
}
#social {
  -webkit-transform:scale(0.8);
  /* Browser Variations: */
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
Only Needed in Multi-Coloured Variation
*/
.social-fb:hover {
  color: #3B5998;
}
.social-tw:hover {
  color: #4099FF;
}
.social-gp:hover {
  color: #d34836;
}
.social-em:hover {
  color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}





.footer-bottom {
  background-color: #ededed;
  color: black;
  min-height: 30px;
  width: 100%;
}
.copyright {
  color: grey;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
}
.design {
  color: grey;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: right;
}
.design a {
  color: grey;
}

/* caption */

.caption {
  position: relative;
  overflow: hidden;
}
.caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
.caption__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: black;
  transform: translateY(100%);
  transition: transform .35s ease-out;
  text-align: left
}
.caption:hover .caption__overlay {
  transform: translateY(0);
}

.caption__overlay__title {
  margin: 0;
  padding: 0 0 12px;
  transform: translateY( calc(-100% - 10px) ); /* +10px overlay padding */
  transition: transform .35s ease-out;
}
.caption:hover .caption__overlay__title {
  transform: translateY(0);
}

.caption::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background .35s ease-out;
}
.caption:hover::before {
  background: white; opacity: 0.75;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

a:hover {
  text-decoration: none;
  color: #59bdd5;
}

a {
  text-decoration: none;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: #ffffff;
}


.content6 {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: .5s;

}

.content7 {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;

}



@media (min-width: 0px) and (max-width: 1200px) {

  .footer1 {
    display: none;
  }

  #icontext {
    margin-bottom: 50px;
  }

}



@media (min-width: 1200px) and (max-width: 2150px) {
  #spaceshipcontain {
    width: 1300px;
  }

}
