.jumbotron {
  margin-bottom: 0px;
  height: 100%;
  background-image: url(black.jpg);
  background-size: cover!important;;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

body {
  background-color: black;
}


img {
  margin: 300px auto 0px auto;
}

h1, h2, h3 {
  color: white;
  line-height: .4;
}

h4, h5 {
  color: white;
}

.specs {
  margin: 200px auto 0px auto;
}


@font-face {
  font-family: Gotham-Black;
  src: url("Gotham-Black.otf") format("opentype");
}

@font-face {
  font-family: GothamHTF-Bold;
  src: url("GothamHTF-Bold.ttf") format("opentype");
}

@font-face {
  font-family: GothamHTF-light;
  src: url("GothamHTF-Light.ttf") format("opentype");
}

@font-face {
  font-family: GothamHTF-Medium;
  src: url("GothamHTF-Medium.ttf") format("opentype");
}




@media (min-width: 500px) and (max-width: 1200px) {
  h1 {
    color: white;
    line-height: .9;
  }



  h2 {
    color: white;
    line-height: .9;
    text-align: left;
  }

  h3, h4, h5 {
    text-align: left;

  }


  .specs {
    margin: 150px auto 0px auto;
  }


}

@media (min-width: 0px) and (max-width: 500px) {
  h1 {
    color: white;
    line-height: .9;
    text-align: center;
  }

  h2 {
    color: white;
    line-height: .9;
    text-align: left;
  }

  h3, h4, h5 {
    text-align: left;

  }

  img {
    margin-top: 100px;
    vertical-align: middle;
  }

  .specs {
    margin: 150px auto 0px auto;
  }

  .btn {
    margin-bottom: 50px;
    margin-left: 100px;

  }

}
